---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app apprise
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      apprise:
        initContainers:
          config-builder:
            image:
              repository: docker.io/library/busybox
              tag: 1.36.1
            command:
              - /bin/sh
              - -c
              - |
                # Substitute environment variables into config template
                cat /tmp/template/apprise-template.yml | \
                  sed "s/\${MQTT_USERNAME}/$MQTT_USERNAME/g" | \
                  sed "s/\${MQTT_PASSWORD}/$MQTT_PASSWORD/g" \
                  > /config/apprise.yml
                echo "Config file created:"
                cat /config/apprise.yml
            envFrom:
              - secretRef:
                  name: apprise-mqtt-secret
        containers:
          app:
            image:
              repository: docker.io/caronc/apprise
              tag: v1.3.1@sha256:6b112f8f174244f4a73b8e1254c9bde1fa562a6a428010aeaff1c18bc98d2713
            env:
              TZ: Australia/Sydney
              APPRISE_CONFIG_DIR: /config
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: true
    
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /config
      config-template:
        type: configMap
        name: apprise-config-template
        advancedMounts:
          apprise:
            config-builder:
              - path: /tmp/template
                readOnly: true
    
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8000
    
    route:
      app:
        hostnames: ["{{ .Release.Name }}.narden.au"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port