---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nut-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      nut-exporter:
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/druggeri/nut_exporter
              tag: 3.2.1
            env:
              NUT_EXPORTER_SERVER: network-ups-tools.observability.svc.cluster.local
            args:
              - --log.level=debug
              #- --nut.vars_enable=battery.charge,battery.runtime,battery.voltage,battery.voltage.nominal,input.voltage,input.voltage.nominal,ups.load,ups.status
            ports:
              - name: http
                containerPort: 9199
                protocol: TCP
            resources:
              requests:
                cpu: 15m
                memory: 105Mi
              limits:
                memory: 105Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }

    service:
      app:
        controller: *app
        ports:
          http:
            port: 9199
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            interval: 60s
            scrapeTimeout: 10s
            path: /ups_metrics
            metricRelabelings:
          # Rename metrics: remove the network_ups_tools_ prefix
             - sourceLabels: [__name__]
               regex: network_ups_tools_(.*)
               targetLabel: __name__
               replacement: ups_${1}
             - sourceLabels: [ups]
               targetLabel: ups
               replacement: cyberpower

             - sourceLabels: [__name__]
               regex: network_ups_tools_ups_load
               targetLabel: __name__
               replacement: ups_output_percent_load
             - sourceLabels: [__name__]
               regex: network_ups_tools_battery_charge
               targetLabel: __name__
               replacement: ups_battery_charge
             - sourceLabels: [__name__]
               regex: network_ups_tools_input_voltage
               targetLabel: __name__
               replacement: ups_input_voltage
             - sourceLabels: [__name__]
               regex: network_ups_tools_battery_voltage
               targetLabel: __name__
               replacement: ups_battery_voltage
