---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app linkding
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      linkding:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: Always
            envFrom: &envFrom
              - secretRef:
                  name: linkding-secret
        containers:
          app:
            image:
              repository: sissbruecker/linkding
              tag: 1.45.0@sha256:61b2eb9eed8e5772a473fb7f1f8923e046cb8cbbeb50e88150afd5ff287d4060
            envFrom: *envFrom
            env:
              TZ: Australia/Sydney

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 9090
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  timeoutSeconds: 10
                  failureThreshold: 30
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9090

    route:
      app:
        hostnames:
          - bookmarks.narden.au
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
