---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app linkding
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      linkding:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
              pullPolicy: Always
            envFrom: &envFrom
              - secretRef:
                  name: linkding-secret
        containers:
          app:
            image:
              repository: sissbruecker/linkding
              tag: 1.44.2@sha256:2883e8b30f02d8dbd2b79d7fd813dff02971b70742e474d0e18f0c3708d22edd
            envFrom: *envFrom
            env:
              TZ: Australia/Sydney

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 9090
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  timeoutSeconds: 10
                  failureThreshold: 30
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9090

    route:
      app:
        hostnames:
          - bookmarks.narden.au
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
