---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database
components:
  - ../../components/namespace
replacements:
  - path: ../../components/replacements/ks.yaml
resources:
  # Flux-Kustomizations
  - ./cloudnative-pg/ks.yaml
  - ./influx/ks.yaml
