---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.12.5@sha256:6be0843b06ad82233639e56f261b2377f78df140e3d16d2d08b2c29c8889b697
            env:
              TZ: Australia/Sydney
              HOME_ASSISTANT_EXTERNAL_URL: https://hass.narden.au
              HASS_HTTP_TRUSTED_PROXY_1: 172.20.20.0/20
              HASS_HTTP_TRUSTED_PROXY_2: 10.42.0.0/16
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 50m
                memory: 4000Mi
              limits:
                memory: 7000Mi

    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name":"multus-iot",
            "namespace": "network",
            "ips": ["172.20.21.200/24"],
            "mac": "3e:59:e4:f7:43:18"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        primary: true
        ports:
          http:
            port: &port 8123
          mdns-tcp:
            enabled: true
            port: 5353
          sonos:
            enabled: true
            port: 1400
          emulated-hue:
            enabled: true
            port: 80
          upnp:
            enabled: true
            port: 1900
          lifx:
            enabled: true
            port: 56700
          homekit:
            enabled: true
            port: 21064


    route:
      app:
        hostnames:
          - hass.narden.au
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8123

    persistence:
      config:
        enabled: true
        existingClaim: home-assistant-config
        advancedMounts:
          home-assistant:
            app:
              - path: /config
            code-server:
              - path: /config

      config-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.venv
      config-logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      config-tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
    
      media:
        type: nfs
        server: nas.internal
        path: /mnt/DataPool/apps/homeassistant

      backups:
        enabled: true
        type: nfs
        server: nas.internal
        path: /mnt/DataPool/apps/homeassistant
        advancedMounts:
          home-assistant:
            app:
              - path: /config/backups
                readOnly: false
