# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://172.20.24.9:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "172.20.24.9"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "alpha"
    ipAddress: "172.20.24.10"
    installDiskSelector:
      serial: "22323B87679D"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/8932fcd0ce59494ca459d7cc285c283d7eb797b66bad926b6f803bc168c62385
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "58:47:ca:7a:b4:e5"
              driver: igc
        vlans:
            - addresses:
              - 172.20.21.10/24
              routes: []
              dhcp: false
              vlanId: 21
              mtu: 1500
        dhcp: false
        addresses:
          - "172.20.24.10/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.20.24.1"
        mtu: 1500
        vip:
          ip: "172.20.24.9"
      - deviceSelector:
          busPath: 0-1.0 # bravo
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.101/32
        routes:
          - network: 169.254.255.102/32
            metric: 2048
      - deviceSelector:
          busPath: 1-1.0 # charlie
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.101/32
        routes:
          - network: 169.254.255.103/32
            metric: 2048
  - hostname: "bravo"
    ipAddress: "172.20.24.11"
    installDiskSelector:
      serial: "22323B87677A"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/8932fcd0ce59494ca459d7cc285c283d7eb797b66bad926b6f803bc168c62385
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "58:47:ca:7a:c4:c1"
              driver: igc
        vlans:
            - addresses:
              - 172.20.21.11/24
              routes: []
              dhcp: false
              vlanId: 21
              mtu: 1500
        dhcp: false
        addresses:
          - "172.20.24.11/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.20.24.1"
        mtu: 1500
        vip:
          ip: "172.20.24.9"
      - deviceSelector:
          busPath: 0-1.0 # alpha
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.102/32
        routes:
          - network: 169.254.255.101/32
            metric: 2048
      - deviceSelector:
          busPath: 1-1.0 # charlie
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.102/32
        routes:
          - network: 169.254.255.103/32
            metric: 2048
  - hostname: "charlie"
    ipAddress: "172.20.24.12"
    installDiskSelector:
      serial: "22323B876870"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/8932fcd0ce59494ca459d7cc285c283d7eb797b66bad926b6f803bc168c62385
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "58:47:ca:7a:c3:dd"
              driver: igc
        vlans:
            - addresses:
              - 172.20.21.12/24
              routes: []
              dhcp: false
              vlanId: 21
              mtu: 1500
        dhcp: false
        addresses:
          - "172.20.24.12/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "172.20.24.1"
        mtu: 1500
        vip:
          ip: "172.20.24.9"
      - deviceSelector:
         busPath: 0-1.0 # alpha
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.103/32
        routes:
          - network: 169.254.255.101/32
            metric: 2048
      - deviceSelector:
          busPath: 1-1.0 # bravo
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.103/32
        routes:
          - network: 169.254.255.102/32
            metric: 2048

# Global patches
patches:
  - |-
    machine:
      features:
        kubernetesTalosAPIAccess:
          enabled: true
          allowedRoles:
            - os:admin
          allowedKubernetesNamespaces:
            - actions-runner-system
            - system-upgrade
  - |-
    machine:
     files:
       - op: create
         path: /etc/cri/conf.d/20-customization.part
         permissions: 0o644
         content: |-
           [plugins."io.containerd.cri.v1.images"]
             discard_unpacked_layers = false
           [plugins."io.containerd.grpc.v1.cri"]
             enable_unprivileged_ports = true
             enable_unprivileged_icmp = true
           [plugins."io.containerd.grpc.v1.cri".containerd]
             discard_unpacked_layers = false
           [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
             discard_unpacked_layers = false
  - |- 
    machine:
     kubelet:
       extraConfig:
         serializeImagePulls: false
       nodeIP:
         validSubnets:
           - 172.20.24.0/24
  - |-
    machine:
     network:
       disableSearchDomain: true
       nameservers:
         - 172.20.24.1
         - 1.1.1.1  
  - |-
    machine:
     sysctls:
       fs.inotify.max_user_watches: "1048576" # Watchdog
       fs.inotify.max_user_instances: "8192"  # Watchdog
       net.core.rmem_max: "7500000" # Cloudflared | QUIC
       net.core.wmem_max: "7500000" # Cloudflared | QUIC
       user.max_user_namespaces: "10000"        # User Namespaces
       kernel.pid_max: "262144"  # Default is often 32768
  - |-
    machine:
     time:
       disabled: false
       servers:
         - 162.159.200.1
         - 162.159.200.123
  - |-
    machine:
     kernel:
       modules:
         - name: thunderbolt_net
  - |-
    machine:
     udev:
       rules:
         # Thunderbolt
         - ACTION=="add", SUBSYSTEM=="thunderbolt", ATTR{authorized}=="0", ATTR{authorized}="1"
         # Intel GPU
         - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"

  #- "@./patches/global/machine-files.yaml"
  #- "@./patches/global/machine-kubelet.yaml"
  #- "@./patches/global/machine-network.yaml"
  #- "@./patches/global/machine-sysctls.yaml"
  #- "@./patches/global/machine-time.yaml"
  #- "@./patches/global/machine-features.yaml"
  #- "@./patches/global/kernel.yaml"
  #- "@./patches/global/thunderbolt.yaml"
  #- "@./patches/global/udev.yaml"

# Controller patches
controlPlane:
  patches:
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        apiServer:
          extraArgs:
            # https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/
            enable-aggregator-routing: true
            feature-gates: MutatingAdmissionPolicy=true
            runtime-config: admissionregistration.k8s.io/v1beta1=true
        controllerManager:
            extraArgs:
                bind-address: 0.0.0.0
        coreDNS:
            disabled: true
        etcd:
            extraArgs:
                listen-metrics-urls: http://0.0.0.0:2381
            advertisedSubnets:
                - 172.20.24.0/24
        proxy:
            disabled: true
        scheduler:
            extraArgs:
                bind-address: 0.0.0.0


    #- "@./patches/controller/admission-controller-patch.yaml"
    #- "@./patches/controller/cluster.yaml"


  schematic:
    customization:
      extraKernelArgs:
        - -init_on_alloc                      # Less security, faster puter
        - -init_on_free                       # Less security, faster puter
        - -selinux                            # Less security, faster puter
        - apparmor=0                          # Less security, faster puter
        - i915.enable_guc=3                   # Meteor Lake CPU / iGPU
        - init_on_alloc=0                     # Less security, faster puter
        - init_on_free=0                      # Less security, faster puter
        - intel_iommu=on                      # PCI Passthrough
        - iommu=pt                            # PCI Passthrough
        - mitigations=off                     # Less security, faster puter
        - security=none                       # Less security, faster puter
        - talos.auditd.disabled=1             # Less security, faster puter
        - net.ifnames=0
        - pcie_ports=native
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/thunderbolt
          - siderolabs/util-linux-tools
