---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./scaledobject.yaml
components:
  - ../../../../components/volsync
configMapGenerator:
  - name: zigbee2mqtt-loki-rules
    files:
      - ./resources/lokirule.yaml
    options:
      labels:
        loki_rule: "true"
generatorOptions:
  disableNameSuffixHash: true
