---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
components:
  - ../../../../components/volsync
  - ../../../../components/gatus/guarded
generatorOptions:
  disableNameSuffixHash: true
