---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/common
resources:
  - ./apprise/ks.yaml
  - ./blackbox-exporter/ks.yaml
  - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./keda/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./pushgateway/ks.yaml
  - ./scrutiny/ks.yaml
  - ./karma/ks.yaml
  - ./kromgo/ks.yaml
  - ./loki/ks.yaml
  - ./network-ups-tools/ks.yaml
  - ./nut-exporter/ks.yaml
  - ./prometheus-operator/ks.yaml
  - ./promtail/ks.yaml
  - ./silence-operator/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./snmp-exporter/ks.yaml
  - ./unpoller/ks.yaml