endpoints:
  - name: "${APP}"
    group: guarded
    url: "https://${GATUS_SUBDOMAIN:-${APP}}.${GATUS_DOMAIN:-narden.au}${GATUS_PATH:-/}"
    interval: 1m
    client:
      dns-resolver: tcp://172.20.24.1:53
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[STATUS] == ${GATUS_STATUS:-200}"
    alerts:
      - type: pushover
