---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: automation
components:
  - ../../components/namespace
replacements:
  - path: ../../components/replacements/ks.yaml
resources:
  # Flux-Kustomizations
  - ./home-assistant/ks.yaml
  - ./mosquitto/ks.yaml
  - ./esphome/ks.yaml
  - ./hassactron/ks.yaml
  - ./zigbee2mqtt/ks.yaml