---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app memos
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      memos:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
              pullPolicy: Always
            envFrom: &envFrom
              - secretRef:
                  name: memos-secret
        containers:
          app:
            image:
              repository: ghcr.io/usememos/memos
              tag: 0.25.3@sha256:40db300a188ede0c2cf1fc0c49741a03077478d6891fd3ace05c16d702b536a6
            env:
              MEMOS_DRIVER: postgres
              MEMOS_MODE: prod
              MEMOS_PORT: "5230"
              MEMOS_PUBLIC: "false"
              MEMOS_DSN:
                valueFrom:
                  secretKeyRef:
                    name: memos-secret
                    key: POSTGRES_URL
              TZ: Australia/Sydney
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 25m
                memory: 105M
              limits:
                memory: 105M     
    service:
      app:
        controller: memos
        ports:
          http:
            port: 5230
    route:
      app:
        hostnames:
          - memos.narden.au
        parentRefs:
          - name: envoy-external
            namespace: network             
    persistence:
      data:
        existingClaim: memos
        globalMounts:
          - path: /var/opt/memos