---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app syncthing
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  driftDetection:
    mode: enabled
    ignore:
      - paths:
          - /spec/containers/resources/limits
        target:
          kind: Pod
  values:
    controllers:
      syncthing:
        containers:
          app:
            image:
              repository: syncthing/syncthing
              tag: 2.0.13@sha256:6245d798ef695715eaa08f728ff3df91182570adfe77d0fe6d952b126e7601c1
            env:
              PUID: "568"
              PGID: "568"
              UMASK: "002"
            securityContext:
              # allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 15m
                memory: 249Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsGroup: 568
        runAsUser: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        # runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 172.20.24.75
        ports:
          http:
            port: 8384
      discovery:
        enabled: true
        controller: *app
        ports:
          discovery:
            enabled: true
            port: 21027
            protocol: UDP
          listen:
            enabled: true
            port: 22000
            protocol: TCP
          listen-udp:
            enabled: true
            port: 22000
            protocol: UDP
    route:
      app:
        hostnames:
          - sync.narden.au
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8384
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /var/syncthing
      files:
        type: nfs
        server: nas.internal
        path: /mnt/DataPool/HomeShare/sync/
        globalMounts:
          - path: /files
            subPath: Syncthing
      emulation:
        type: nfs
        server: nas.internal
        path: /mnt/DataPool/HomeShare/sync/
        globalMounts:
          - path: /emulation/
            subPath: Library/Emulation/
