---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app syncthing
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  values:
    controllers:
      syncthing:
        containers:
          app:
            image:
              repository: syncthing/syncthing
              tag: 2.0.14@sha256:6d2ab058383b533e045cf2c32fc4c6bbe87c612c92bc2aca9f552fb099b2e123
            env:
              PUID: "568"
              PGID: "568"
              UMASK: "002"
            resources:
              requests:
                cpu: 15m
                memory: 249Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsGroup: 568
        runAsUser: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        # runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 172.20.24.60
        primary: true
        ports:
          http:
            port: 8384
            primary: true
      discovery:
        enabled: true
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 172.20.24.61
        externalTrafficPolicy: Local
        ports:
          listen:
            port: 22000
            protocol: TCP
            targetPort: 22000
          listen-udp: 
            port: 22000
            protocol: UDP
            targetPort: 22000
          discovery:
            enabled: true
            port: 21027
            protocol: UDP
            targetPort: 21027   
    route:
      app:
        hostnames:
          - sync.narden.au
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8384
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /var/syncthing
      files:
        type: nfs
        server: nas.internal
        path: /mnt/DataPool/HomeShare/sync/
        globalMounts:
          - path: /files
            subPath: Syncthing
      emulation:
        type: nfs
        server: nas.internal
        path: /mnt/DataPool/HomeShare/sync/
        globalMounts:
          - path: /emulation/
            subPath: Library/Emulation/